<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/sidebar') %>
    
    <div id="wrapper">
        <%- body %>
    </div>

    <%- partial('_partial/scripts') %>
</body>
</html>
